#global exclusions
README.md
**/*.o
*/a.out
/.vscode
/.DS_Store
#libft exclusions
/libft/libft.a
#printf exclusions
/ft_printf/libftprintf.a
/ft_printf/libft/libft.a
#get_next_line exclusions
/get_next_line/*.h.gch
#Push_swap exclusions
/push_swap/push_swap
/push_swap/visualiser
/push_swap/checker_Mac
/push_swap/push_swap_tester
