#global exclusions
README.md
**/*.o
*/a.out
/.vscode
/.DS_store
/TESTING
#libft exclusions
/libft/libft.a
#printf exclusions
/ft_printf/libftprintf.a
/ft_printf/libft/libft.a
#get_next_line exclusions
/get_next_line/*.h.gch
#Push_swap exclusions
/push_swap/push_swap
/push_swap/visualiser
/push_swap/checker_Mac
/push_swap/push_swap_tester
#minitalk exclusions
/minitalk/server
/minitalk/client
/minitalk/server_bonus
/minitalk/client_bonus
/minitalk/ft_printf/libftprintf.a
/minitalk/ft_printf/libft/libft.a
#So_long exclusions
/so_long/minilibx-linux/
/so_long/minilibx-linux.tgz
/so_long/minilibx-linux.tgz*Zone.Identifier
/so_long/play
/so_long/lib/libmlx.a
/so_long/lib/libftprintf.a
/so_long/lib/libgnl.a
/so_long/lib/ft_printf/libft/libft.a
